* { /*the below styling will apply to the page unless other marked with ID's/classes */
    margin: 5px; /*area around of image*/
    padding:0; /*space between content and border*/
    box-sizing: border-box;
    font-family: Consolas,"courier new";
    
}

body {background-color:#ebd2c2; /*anything in the body section will include the below unless otherwise marked with an ID or class*/
padding: 20px;
width: auto;
display: flex;
flex-direction: column;
}

section nav {
display:flex; /* will shift boxes evenly*/
}

section div img { /*the below styling will apply to images in a section in side a div*/
  border-style: none;
  border-width: 10px;
  padding: 5px;
  width: 80%;
  margin-left: auto;
  margin-left: auto;
}


article img { /* any image that inside an article will have the below*/
  width: 270px;
  height: 315px;
  border-radius: 50%;/*makes this rounder*/
  margin-top: 50px; /*area top of image*/
  margin-left: auto;
  margin-right: auto;
  display: block;
}

h1 { /*any h1 font*/
    font-size: 75px;
    text-align: center;
    font-family: Consolas,"courier new";
 }

 .main-header {
    display: flex;
  /* Forces elements to the next line if they don't fit */
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 60px; /*space between content and border*/
  background: #8c8d8c;
  color: #fff;
  width: 100%;
  }

nav a, footer a { /*both of these will have the below styling*/
  color: black; /*color of link text*/
  margin-bottom:10px; /* around the element*/
  width: 100%; /*width of the link bar*/
  text-align: center; 
  text-decoration: none; /*to remove line under text*/
  font-size: 50px;
  border: 2px solid black;
  box-shadow: 6px 6px 0px black; /*the shadow around my box*/
  
}
 .card {
    border-style: none;
    border-width: 10px;
    padding: 5px;
    width: 30%;
  }
  
  .card header {
    padding: 10px;
  }
  
  .card p {
    text-align:left;
  }

  p { /*all paragraphs will be styled with the below*/
    float: right; /*places an element on the left or right side of its container*/
    font-size: 16px;
    padding: 35px; /* space around the elements content*/
  }

a:hover { /*this chnge will occur when we hover over the text with this element */
    box-shadow: none;
    transform: translate(8px, 8px);
}

.beige { /*anything with this tag will have a background color of the below*/
    background:#d4bbb1;
}