* { 
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: Consolas,"courier new";
    
}

body {background-color:#ebd2c2;
padding: 20px;
width: auto;
display: flex;
flex-direction: column;
}

section nav {
border: red 1px solid;
display:flex; /* will shift boxes evenly*/


}

article img {
  width: 270px;
  height: 315px;
  border-radius: 50%;/*makes this rounder*/
  margin-top: 50px; /*area top of image*/
  margin-left: auto;
  margin-right: auto;
  display: block;
}

h1 {
    font-size: 75px;
    text-align: center;
    font-family: Consolas,"courier new";
 }

 .main-header {
    display: flex;
  /* Forces elements to the next line if they don't fit */
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 60px;
  background: #8c8d8c;
  color: #fff;
  width: 100%;
  }

nav a, footer a {
  color: black; /*color of link text*/
  margin-bottom:10px; /* around the element*/
  width: 100%; /*width of the link bar*/
  text-align: center; 
  text-decoration: none; /*to remove line under text*/
  font-size: 50px;
  border: 2px solid black;
  box-shadow: 6px 6px 0px black; /*the shadow around my box*/
  
}
 .card {
    border-style: none;
    border-width: 10px;
    padding: 5px;
    float: left;
  }
  
  .card header {
    padding: 10px;
  }
  
  .card p {
    text-align:left;
  }
  
  .card {
    width: 30%;
  }

  p {
    float: right;
    font-size: 16px;
    padding: 35px;
  }

a:hover {
    box-shadow: none;
    transform: translate(8px, 8px);
}

.beige {
    background:#d4bbb1;
}                                                            